<div class="card">
    <div class="card-header">
        <h2>Contact Us</h2>
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="contact">
                <h3 style="margin-bottom: 30px;">Selectables</h3>
                <div class="row">
                    <div class="col-6">
                        <h5 class="address-header">
                            <i class="fas fa-map-marker-alt"></i> Head Office:
                        </h5>
                        <p>Hargovindas Building Above Shaina NC, K. Dubash Marg, 2nd Floor, Upper level,</p>
                        <p>Kala Ghoda, Fort, Mumbai, Maharashtra 400023</p>
                        <p><i class="fas fa-phone-alt"></i> +91 12 3456 7890</p>
                        <p>
                            <fa-icon [icon]="mailIcon"></fa-icon> contact@selectables.com</p>
                    </div>
                    <div class="col-6">
                        <h5 class="address-header">
                            <i class="fas fa-map-marker-alt"></i> Gallery:
                        </h5>
                        <p>Hargovindas Building Above Shaina NC, K. Dubash Marg, 2nd Floor, Upper level,</p>
                        <p>Kala Ghoda, Fort, Mumbai, Maharashtra 400023</p>
                        <p><i class="fas fa-phone-alt"></i> +91 12 3456 7890</p>
                        <p>
                            <fa-icon [icon]="mailIcon"></fa-icon> contact@selectables.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>