<div id="carouselExampleControls" class="carousel slide" *ngIf="bannerData && bannerData.length > 0" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let banner of bannerData; let i=index" [class.active]="i==0">
        <img [src]="banner" style="max-width: 100%;" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>