.form-group:not(.desc-group):not(.category-group):not(.add-info-group) {
    width: 30%;
}

.desc-group {
    width: 50%;
}

.category-group {
    width: 20%;
}

.add-info-group {
    width: 60%;
}

.form-group>label {
    font-size: 20px;
    font-weight: 500;
}

.form-control,
.custom-file-label {
    border: 2px solid #495057;
    border-radius: 6px;
    box-shadow: none;
}

.form-group>label::after {
    content: '*';
}

.custom-file-input:focus~.custom-file-label {
    border: 2px solid #495057;
    border-radius: 6px;
    box-shadow: none;
}

.custom-file-label::after {
    display: none;
}

.amt-group {
    width: 50%;
}

:host /deep/ ngb-timepicker input,
:host /deep/ ngb-timepicker input:focus {
    border: 2px solid #495057;
    border-radius: 6px;
    box-shadow: none;
}

.date-group {
    width: 50%;
}


/* .date-control {
    width: 80%;
    display: inline-block;
    margin-right: 5px;
} */

.artist-form {
    width: 25%;
}

.input-group {
    width: 40%;
}

.submit-button {
    margin-top: 20px;
}

.back-button {
    margin-top: 20px;
    margin-left: 10px;
}

.error {
    color: red;
}

fa-icon {
    cursor: pointer;
}