<div class="card">
    <div class="card-header">
        <h2>Add new product</h2>
    </div>
    <div class="card-body">
        <div class="card-text">
            <form [formGroup]="productForm">
                <div class="form-group">
                    <label for="productName">Name</label>
                    <input class="form-control" id="productName" formControlName="productName">
                </div>
                <div class="form-group artist-form">
                    <label for="artist">Artist</label>
                    <input class="form-control" id="artist" formControlName="artist" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false' (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
                        #instance="ngbTypeahead" />
                </div>
                <div class="form-group desc-group">
                    <label for="productDescription">Description</label>
                    <angular-editor formControlName="productDescription" [config]="editorConfig"></angular-editor>
                </div>
                <div class="form-group date-group">
                    <label for="auctionDate">Auction On:</label>
                    <div class="row">
                        <div class="col-6">
                            <input class="form-control date-control" placeholder="yyyy-mm-dd" name="dp" formControlName="auctionDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" [minDate]="getTodayForDatePicker()">
                        </div>
                        <div class="col-6" style="padding-left: 0px;">
                            <ngb-timepicker formControlName="auctionTime"></ngb-timepicker>
                        </div>
                    </div>
                </div>
                <div class="form-group amt-group">
                    <label>Estimate</label>
                    <div class="row">
                        <div class="col-6">
                            <input class="form-control" id="estimatedMin" formControlName="estimatedMin" placeholder="min">
                        </div>
                        <div class="col-6" style="padding-left: 0px;">
                            <input class="form-control" id="estimatedMax" formControlName="estimatedMax" placeholder="max">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Profile image</label>
                    <div class="custom-file">
                        <input type="file" class="form-control custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" (change)="handleFileInput($event.target.files)">
                        <label class="custom-file-label" for="inputGroupFile04">{{(fileToUpload) ? fileToUpload.name : 'Choose file'}}</label>
                    </div>
                    <span class="error" *ngIf="fileUploadError">{{fileUploadError}}</span>
                </div>
                <div class="form-group category-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" formControlName="category">
                        <option *ngFor="let subCategory of subCategoryList" [value]="subCategory.subCategoryId">{{subCategory.subCategoryName | titlecase}}</option>    
                    </select>
                </div>
                <div class="form-group add-info-group">
                    <label>Additional Info</label>
                    <fa-icon [icon]="addIcon" (click)="addNewAddInfoRow()" style="margin-left: 10px;" placement="right" ngbTooltip="Add new row"></fa-icon>
                    <table class="table table-borderless">
                        <thead style="text-align: center;">
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let addInfo of a.controls; let i=index" [formGroup]="addInfo">
                                <td>
                                    <input type="text" class="form-control" formControlName="key">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="value">
                                </td>
                                <td style="vertical-align: middle;">
                                    <fa-icon *ngIf="a.controls.length > 1" [icon]="removeIcon" (click)="removeRow(i)" placement="right" ngbTooltip="Remove"></fa-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-dark btn-lg submit-button" [disabled]="productForm.invalid || !fileToUpload" (click)="addNewProduct()">Submit</button>
                <button type="button" class="btn btn-dark btn-lg back-button" (click)="backToProductMgmt()">Back</button>
            </form>
        </div>
    </div>
</div>