<div class="card">
    <div class="card-header">
        <h2>Terms and Conditions</h2>
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header button-holder" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-dark btn-lg btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="cardClicked(1)">
                                Definitions
                        <i class="fa fa-angle-double-down" *ngIf="selectedCard !== 1"></i>
                        <i class="fa fa-angle-double-up" *ngIf="selectedCard === 1"></i>
                      </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list_points">
                                <li>“Applicable Law” shall mean to the extent it applies to a Person, all applicable laws, statutes, by-laws, rules, regulations, orders, ordinances, protocols, codes, guidelines, policies, notices, directions, judgments, decrees
                                    or other requirements or official directive of any Governmental Authority or Person acting under the authority of any Governmental Authority and/or of any statutory authority in India, whether in effect on the Execution
                                    Date or thereafter</li>
                                <li>“Selectable Auction” shall mean an online auction conducted by Selectable in accordance with these Terms and Conditions of Sale</li>
                                <li>“Auction Date” shall mean the day on which the Selectable Auction is conducted for the Lot</li>
                                <li>“Bidder” shall mean any Person eligible to make a bid or offer to purchase the Lot at an Selectable Auction</li>
                                <li>“Business Day” shall mean any day, other than Saturday or Sunday, on which banking institutions in Mumbai, India are open for banking transactions</li>
                                <li>“Buyer” shall mean the Person whose bid is accepted by Selectable as the winning bid in an Selectable Auction, at Selectable’s discretion</li>
                                <li>“Estimate Price” shall mean the estimates provided by Selectable, at its discretion based on the average market value of the Lot</li>
                                <li>“Hammer Price” shall mean the price at which the Lot is sold to a Buyer, exclusive of the margin and other applicable duties and taxes</li>
                                <li>“INR” shall mean the lawful currency of the Republic of India</li>
                                <li>“Lot” shall mean the individual jewellery/memorabilia/automobile/timepiece/artwork or any other item being offered for sale at an Selectable Auction</li>
                                <li>“Person(s)” shall mean any individual, sole proprietorship, unincorporated association, unincorporated organization, body corporate, corporation, company, partnership, limited liability company, joint venture, Governmental
                                    Authority or trust or any other entity or organization</li>
                                <li>“Reserve Price” shall mean the minimum price at which the Lot shall be sold at the Selectable Auction</li>
                                <li>“Terms and Conditions of Sale” means the terms and conditions stipulated herein below, which are applicable to all Buyers, Bidders and any prospective bidders in an Selectable Auction, as may be amended by Selectable from
                                    time to time</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header button-holder" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-dark btn-lg btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="cardClicked(2)">
                                Reserve price, Estimates and Margin
                        <i class="fa fa-angle-double-down" *ngIf="selectedCard !== 2"></i>
                        <i class="fa fa-angle-double-up" *ngIf="selectedCard === 2"></i>
                      </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>The Reserve Price is confidential and will not be disclosed to any Bidders.</li>
                                <li>Selectable may provide an Estimate Price for each Lot to be auctioned, based on the average market value of the said Lot as determined by Selectable.</li>
                                <li>The Estimate Price given by Selectable shall only be a guide to the Bidders and do not indicate with any accuracy, the Final Purchase Price (as defined below).</li>
                                <li>The Estimate Price given by Selectable and the Hammer Price of the Lot at an Selectable Auction do not include: (i) Selectable’s margin at [15%] of the Hammer Price; (ii) any packing, insurance, shipping or handling charges
                                    in connection with the sale of the Lot; (iii) any duties or taxes payable on the Lot.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header button-holder" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-dark btn-lg btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="cardClicked(3)">
                                Delivery and Collection of purchased LOT
                        <i class="fa fa-angle-double-down" *ngIf="selectedCard !== 3"></i>
                        <i class="fa fa-angle-double-up" *ngIf="selectedCard === 3"></i>
                      </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>Subject to receipt and clearance of the Final Purchase Price, Selectable shall ship the Lot to the Buyer within 7 Days from receipt of the Final Purchase Price (“Date of Payment”).</li>
                                <li>Subject to receipt and clearance of the Final Purchase Price payable by the Buyer, the Buyer may also opt to collect the Lot from Selectable. </li>
                                <li>Any Buyer who opts to collect the Lot from Selectable under Clause 7.2, but has not collected the said Lot within 30 days from the Date of Payment shall be charged a demurrage/storage fee at 2% per month on the Final Purchase
                                    Price of the Lot calculated from the Date of Payment.</li>
                                <li>The Buyer shall be liable to insure the Lot against any damages or losses in transit.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header button-holder" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-dark btn-lg btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" (click)="cardClicked(4)">
                                Miscellaneous
                        <i class="fa fa-angle-double-down" *ngIf="selectedCard !== 4"></i>
                        <i class="fa fa-angle-double-up" *ngIf="selectedCard === 4"></i>
                      </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list_points">
                                <li>Selectable can make changes to these Terms and Conditions of Sale from time to time without any prior notification. Bidders are advised to make themselves aware of the updated Terms and Conditions of Sale, if any before
                                    an Selectable Auction.</li>
                                <li>Each and every obligation under these Terms and Conditions of Sale shall be treated as a separate obligation and shall be severally enforceable as such in the event of any obligation or obligations being or becoming unenforceable
                                    in whole or part. To the extent that any Clause of these Terms and Conditions of Sale are unenforceable, they shall be deemed to be deleted and any such deletion shall not affect the remainder of these Terms and Conditions
                                    of Sale not so deleted, provided the fundamental terms of these Terms and Conditions of Sale are not altered.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>