<div class="card">
    <div class="card-header">
      <h2>Banner Management</h2>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Carousel Banner</h5> -->
      <div class="card-text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let banner of bannerList; let i=index">
            <button class="banner-list-item btn btn-link" 
              (click)="openImage(i)" [disabled]="banner.showSpinner">
                {{ banner.fileName }}.{{ banner.fileExtension }}
            </button>
            <span class="badge badge-pill close-icon" data-toggle="tooltip" title="Delete Banner" 
              (click)="deleteBanner(banner)" *ngIf="!banner.showSpinner && bannerList.length > 3">X</span>
            <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="banner.showSpinner">
              <span class="sr-only">Loading...</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group" *ngIf="showFileUploadInput">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile04" 
                      aria-describedby="inputGroupFileAddon04" [disabled]="fileUploadInProgress" (change)="handleFileInput($event.target.files)">
                    <label class="custom-file-label" for="inputGroupFile04">{{(fileToUpload) ? fileToUpload.name : 'Choose file'}}</label>
                </div>
            </div>
            <br>
            <span class="error" *ngIf="fileUploadError">{{fileUploadError}}</span>
      </li>
        </ul>
      </div>
      <a class="btn btn-secondary" (click)="showFileUploadInput=true" style="margin:10px;">Add</a>
      <a class="btn btn-secondary" *ngIf="fileToUpload && !fileUploadInProgress" (click)="uploadFileToActivity()">Upload</a>
      <button class="btn btn-dark" *ngIf="fileUploadInProgress" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Uploading...
      </button>
    </div>
  </div>