<div class="card">
    <div class="card-header">
        <h2>Add new artist</h2>
    </div>
    <div class="card-body">
        <div class="card-text">
            <form [formGroup]="artistForm">
                <div class="form-group">
                    <label for="artistName">Name</label>
                    <input class="form-control artist-name" id="artistname" formControlName="artistName">
                </div>
                <div class="form-group">
                    <label for="artistDesc">Description</label>
                    <angular-editor formControlName="artistDesc" [config]="editorConfig"></angular-editor>
                </div>
                <div class="form-group">
                    <label>Profile image</label>
                    <div class="custom-file" *ngIf="!artistInfo || !artistInfo.artistProfileUrl">
                        <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" (change)="handleFileInput($event.target.files)">
                        <label class="custom-file-label" for="inputGroupFile04">{{(fileToUpload) ? fileToUpload.name : 'Choose file'}}</label>
                    </div>
                    <div class="profile-url" *ngIf="artistInfo && artistInfo.artistProfileUrl">
                        <img [src]="artistInfo.artistProfileUrl" alt="..." class="img-thumbnail rounded">
                        <div>
                            <button type="button" class="btn btn-dark remove-btn" (click)="removeImageFromInfo()">Remove</button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-link" *ngIf="fileToUpload" (click)="clearUploadImage()">Remove Image</button>
                <span class="error" *ngIf="fileUploadError">{{fileUploadError}}</span>
                <br>
                <button type="submit" class="btn btn-dark btn-lg submit-button" [disabled]="artistForm.invalid || fileUploadError" (click)="addNewArtist()">Submit</button>
                <button type="button" class="btn btn-dark btn-lg back-button" (click)="backToArtistMgmt()">Back</button>
            </form>
        </div>
    </div>
</div>