.form-group {
    width: 40%;
}

.input-group {
    width: 40%;
}

.submit-button {
    margin-top: 20px;
}

.back-button {
    margin-top: 20px;
    margin-left: 10px;
}

.error {
    color: red;
}

.profile-url {
    width: fit-content;
}

.profile-url>a {
    cursor: pointer;
    color: #2f85e3;
    text-decoration: underline;
    font-size: 25px;
    font-weight: 600;
}

.remove-btn {
    margin-top: 5px;
    width: 100%;
}