<div class="footer-container">
    <div class="text-center">
        <img class="footer-logo" src="../../../assets/footer-logo.jpg">
    </div>
    <div class="text-center social-media-row">
        <fa-icon class="social-media-icon" [icon]="fbIcon"></fa-icon>
        <fa-icon class="social-media-icon" [icon]="twitterIcon"></fa-icon>
        <fa-icon class="social-media-icon" [icon]="pinterestIcon"></fa-icon>
        <fa-icon class="social-media-icon" [icon]="instaIcon"></fa-icon>
        <fa-icon class="social-media-icon" [icon]="youtubeIcon"></fa-icon>
    </div>
    <div class="text-center links">
        <span *ngFor="let footer of footerBreadCrumbs; let i=index" [routerLink]="footer.link">
            <span class="footer-crumb" *ngIf="i > 0">/</span> &nbsp;
        <span class="footer-crumb-name">{{footer.name | uppercase}}</span>&nbsp;
        </span>
    </div>
</div>