.footer-container {
    background-color: #343a40;
    color: #ffffff;
}

.social-media-icon {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 30px;
}

.footer-crumb {
    margin-left: 5px;
    margin-right: 5px;
}

.links {
    margin-top: 10px;
    padding-bottom: 10px;
}

.footer-crumb-name {
    cursor: pointer;
}

.footer-crumb-name:hover {
    text-decoration: underline;
}