<div style="box-shadow: 0px 1px 9px 0px #a7a5a5;padding: 2px;">
    <div class="back-button" (click)="routeToProducts()">
        Back to home
    </div>
</div>
<div class="row no-overflow" *ngIf="productDetails">
    <div class="col-6">
        <img class="img-details" [src]="productDetails.imageUrl">
    </div>
    <div class="col-6">
        <div class="info">
            <p *ngIf="productDetails.artist">
                <span style="font-size: 40px; font-weight: 800;">{{productDetails.productName | titlecase}}</span>
                <fa-icon style="margin-left: 5px;" [icon]="editIcon" *ngIf="isAdmin" (click)="editName(editNameModal)"></fa-icon>
            </p>
            <p style="font-size: 30px; font-weight: 800;margin-right: 5px;">
                {{productDetails.artist.artistName | titlecase}}
            </p>

            <div>
                <hr>
                <table class="table table-borderless add-info-table">
                    <tbody>
                        <tr>
                            <td>Category</td>
                            <td>{{productDetails.category.subCategoryName}}</td>
                            <td style="text-align: right;">
                                <!-- <fa-icon [icon]="editIcon" *ngIf="isAdmin" (click)="editAddInfo(editInfoModal)"></fa-icon> -->
                            </td>
                        </tr>
                        <tr>
                            <td>Auction Date</td>
                            <td>{{productDetails.auctionDate | date:'MMM d y, h:mm a'}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Estimate</td>
                            <td>
                                {{productDetails.estimatedMin | currency:'INR'}} - {{productDetails.estimatedMax | currency:'INR'}}
                                <fa-icon [icon]="editIcon" *ngIf="isAdmin" (click)="editEstimate(editEstimateModal)" style="margin-left: 5px;"></fa-icon>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div>
                    <span style="font-size: 30px;font-weight: 600;">Additional Information</span>
                    <fa-icon [icon]="editIcon" *ngIf="isAdmin" (click)="editAddInfo(editInfoModal)" style="margin-left: 5px;"></fa-icon>
                </div>
                <table class="table table-borderless add-info-table">
                    <tbody>
                        <tr *ngFor="let info of getAdditionalInfo(productDetails.additionalInfo)">
                            <td>{{info.key}}</td>
                            <td>{{info.value}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="productDetails">
    <div class="col-6">
        <div class="add-info">
            <span class="add-info-header">Description</span>
            <fa-icon [icon]="editIcon" *ngIf="isAdmin" (click)="editDesc(editDescModal)" style="float:right"></fa-icon>
            <p [innerHTML]="productDetails.productDescription"></p>
        </div>
    </div>
</div>

<hr>
<div class="artist-info" *ngIf="productDetails && productDetails.artist">
    <div class="media">
        <img [src]="productDetails.artist.artistProfileUrl" alt="" class="img-thumbnail">
        <div class="media-body">
            <h5 class="mt-0">ABOUT ARTIST</h5>
            <p [innerHTML]="productDetails.artist.artistDesc"></p>
        </div>
    </div>

    <!-- <h4>ABOUT ARTIST</h4>
    <p [innerHTML]="productDetails.artist.artistDesc"></p> -->
</div>

<ng-template #editNameModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update product name:</h4>
    </div>
    <div class="modal-body">
        <input type="text" class="form-control" [(ngModel)]="productNameEditable">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<ng-template #editDescModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update product desc:</h4>
    </div>
    <div class="modal-body">
        <angular-editor [(ngModel)]="productDescEditable" [config]="editorConfig"></angular-editor>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<ng-template #editInfoModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Additional Information:</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="addInfoForm">
            <div class="form-group add-info-group">
                <label>Additional Info</label>
                <fa-icon [icon]="addIcon" (click)="addNewAddInfoRow()" style="margin-left: 10px;" placement="right" ngbTooltip="Add new row"></fa-icon>
                <table class="table table-borderless">
                    <thead style="text-align: center;">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let addInfo of a.controls; let i=index" [formGroup]="addInfo">
                            <td>
                                <input type="text" class="form-control" formControlName="key">
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="value">
                            </td>
                            <td style="vertical-align: middle;">
                                <fa-icon *ngIf="a.controls.length > 1" [icon]="removeIcon" (click)="removeRow(i)" placement="right" ngbTooltip="Remove"></fa-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="addInfoForm.invalid" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>


<ng-template #editEstimateModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Estimate:</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-5">
                <input class="form-control" id="estimatedMin" [(ngModel)]="estimateMinEditable">
            </div>
            <div class="col-2"><span>-</span></div>
            <div class="col-5" style="padding-left: 0px;">
                <input class="form-control" id="estimatedMax" [(ngModel)]="estimateMaxEditable">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>