.product-header {
    position: relative;
    overflow: hidden;
}

.product-header .header-info {
    position: relative;
}

.product-header img {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 110%;
    opacity: 0.6;
}

.header-info p {
    color: #000000;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 0;
    padding: 5px;
}

.amount {
    font-size: 20px;
    font-weight: 500;
}

.no-overflow {
    width: 100%;
}

.img-details {
    width: 400px;
    height: 450px;
    margin-left: 170px;
    margin-top: 100px;
}

.info {
    margin-top: 60px;
}

.info p {
    margin-bottom: 0;
}

.add-info-table {
    font-size: 20px;
    font-weight: 400;
}

.add-info {
    border: 10px solid #c3a860;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

.artist-info {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.media {
    align-items: center;
}

.media-body {
    padding-left: 20px;
}

.artist-info p {
    text-align: justify;
    line-height: 2rem;
}

fa-icon {
    cursor: pointer;
    font-size: 15px
}

.form-control {
    border: 2px solid #495057;
    border-radius: 6px;
    box-shadow: none;
}

.add-info-header {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height-step: 1.2;
}

.back-button {
    border: 1px solid #c3a860;
    min-width: 10px;
    border-radius: 15px;
    padding: 0px 20px 3px 20px;
    width: fit-content;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}