<div class="card">
    <div class="card-header">
        <h2>Artist Management</h2>
    </div>
    <div class="card-body">
        <div class="card-text">
            <table class="table table-hover user-mgmt-table">
                <thead class="thead-dark">
                    <tr>
                        <th class="num-column">#</th>
                        <th class="name-column" scope="col">Name</th>
                        <th class="action-column" scope="col">Action</th>
                        <th class="status-column" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let artist of artistInfo; let i=index">
                        <td class="num-column">{{ i+1 }}</td>
                        <td class="name-column">{{artist.artistName | titlecase}}</td>
                        <td class="action-column">
                            <fa-icon [icon]="editIcon" *ngIf="artist.active" (click)="editArtist(artist.artistId)"></fa-icon>
                            <fa-icon [icon]="viewIcon" (click)="viewArtistDetails(artist.artistId)"></fa-icon>
                        </td>
                        <td class="status-column">
                            <ui-switch color="#212529" size="small" [disabled]="isCallInProgress" [checked]="artist.active" (click)="updateArtistStatus(artist)">
                            </ui-switch>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-dark btn-lg" type="button" style="margin-right:5px;" (click)="addNewArtist()">Add New</button>
        </div>
    </div>
</div>