.card {
    margin-bottom: 15px;
}


/* .num-column {
    width: 5%;
} */

.check-column {
    width: 5%;
}

.view-column {
    width: 5%;
}

fa-icon {
    cursor: pointer;
}

.form-check-input {
    margin-left: .25rem;
}

.name-column {
    width: 60%;
}

.date-column {
    width: 30%;
}

.name {
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-top: 0;
    margin-right: 5px;
    font-weight: 500;
    line-height: 1.2;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.add-button {
    float: right;
}

.check-button {
    float: right;
    margin-right: 5px;
}

.form-control {
    border: 2px solid #495057;
    border-radius: 6px;
    box-shadow: none;
}

:host /deep/ ngb-timepicker input,
:host /deep/ ngb-timepicker input:focus {
    border: 2px solid #495057;
    border-radius: 6px;
    box-shadow: none;
}