<div class="card">
    <div class="card-header">
        <span class="name">Product Management</span>
        <button class="btn btn-dark add-button" (click)="routeToAddPage()">Add new</button>
        <button class="btn btn-dark check-button" [disabled]="deactivateProducts.length === 0" (click)="updateStatusOfProducts(2)" *ngIf="status === 1">Mark as inactive</button>
        <button class="btn btn-dark check-button" [disabled]="deactivateProducts.length === 0" (click)="updateStatusOfProducts(1)" *ngIf="status === 2">Mark as active</button>
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom: 5px;">
                <button type="button" class="btn" [ngClass]="{'btn-dark': status === 1, 'btn-secondary': status !== 1}" (click)="reloadList(1)">Active</button>
                <button type="button" class="btn" [ngClass]="{'btn-dark': status === 2, 'btn-secondary': status !== 2}" (click)="reloadList(2)">Inactive</button>
                <button type="button" class="btn" [ngClass]="{'btn-dark': status === 3, 'btn-secondary': status !== 3}" (click)="reloadList(3)">Sold</button>
            </div>
            <table class="table table-hover user-mgmt-table">
                <thead class="thead-dark">
                    <tr>
                        <!-- <th class="num-column">#</th> -->
                        <th class="check-column"></th>
                        <th class="view-column"></th>
                        <th class="name-column" scope="col">Name</th>
                        <th class="date-column" scope="col">Auction Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsList; let i=index">
                        <td class="check-column"><input type="checkbox" class="form-check-input" (change)="checkBox($event, product.productId)"></td>
                        <td class="view-column">
                            <fa-icon [icon]="viewIcon" (click)="routeToProductDetailsPage(product.productId)"></fa-icon>
                        </td>
                        <td class="name-column">{{product.productName | titlecase}}</td>
                        <td class="date-column">
                            {{product.auctionDate | date:'MMM dd y, HH:mm':'IST' }}
                            <fa-icon [icon]="editIcon" *ngIf="status === 1" style="font-size: 10px;" placement="right" ngbTooltip="Edit date" (click)="openEditPopup(product.productId, product.auctionDate, editAuctionDate)"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <button class="btn btn-dark btn-lg" type="button" style="margin-right:5px;" (click)="addNewArtist()">Add New</button> -->
        </div>
    </div>
</div>
<pagination [pageNumber]="pageNumber" [elementsPerPage]="elementsPerPage" [totalElements]="totalNumberOfElements" [rotateOnBorder]="false" (pageChange)="pageChange($event)">
</pagination>

<ng-template #editAuctionDate let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Auction date:</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <input class="form-control date-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" [minDate]="getTodayForDatePicker()" [(ngModel)]="editDate">
            </div>
            <div class="col-6" style="padding-left: 0px;">
                <ngb-timepicker [(ngModel)]="editTime"></ngb-timepicker>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>