app-modal {
    /* modals are hidden by default */
    display: none;
}
app-modal .modal-container {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */  
    overflow: auto;
}
app-modal .modal-container .custom-modal-body {
    /* padding: 20px; */
    background: #fff;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    min-width: 200px;
    min-height: 200px;

    /* margin exposes part of the modal background */  
    /* margin: 40px; */
}
app-modal .modal-background {
    
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */  
    background-color: #c3a860;
    opacity: 0.25;

    /* z-index must be below .modal-container and above everything else  */  
    z-index: 900;
}

/*body.jw-modal-open {*/
body.modal-open {
    
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}