<div class="card">
    <div class="card-header">
        <h2>Category Management</h2>
    </div>
    <div class="card-body">
        <div class="card-text">
            <table class="table table-hover user-mgmt-table">
                <thead class="thead-dark">
                    <tr>
                        <th class="first-column"></th>
                        <th class="second-column" scope="col">Category Name</th>
                        <th class="third-column" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let category of categoriesList; let i=index">
                        <tr *ngIf="(!category.subCategory || category.subCategory.length == 0); else elseBlock">
                            <td class="first-column"></td>
                            <td class="second-column">{{category.categoryName | titlecase}}</td>
                            <td class="third-column">
                                <ui-switch color="#212529" size="small" [disabled]="isCallInProgress"
                                    [checked]="category.activeFlag" (change)="selectedCategory=category;open(content)">
                                </ui-switch>
                            </td>
                        </tr>
                        <ng-template #elseBlock>
                            <tr (click)="toggleCategory(category)" style="cursor: pointer;">
                                <td class="first-column">
                                    <fa-icon class="social-media-icon" [icon]="rightIcon" *ngIf="!category.showSubCategory"></fa-icon>
                                    <fa-icon class="social-media-icon" [icon]="downIcon" *ngIf="category.showSubCategory"></fa-icon>
                                </td>
                               <td class="second-column">{{category.categoryName | titlecase}}</td>
                                <td class="third-column">
                                    <ui-switch color="#212529" size="small" [disabled]="isCallInProgress"
                                        [checked]="category.activeFlag"
                                        (change)="selectedCategory=category;open(content)">
                                    </ui-switch>
                                </td>
                            </tr>
                            <ng-container *ngIf="category.showSubCategory">
                                <tr *ngFor="let sub of category.subCategory; let j = index">
                                    <td class="first-column sub">.</td>
                                    <td class="second-column">{{sub.subCategoryName | titlecase}}</td>
                                    <td class="third-column">
                                        <ui-switch color="#212529" size="small" [disabled]="isCallInProgress"
                                            [checked]="sub.activeFlag" (change)="toggleSubCategoryCheckbox(sub, category)">
                                        </ui-switch>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-template>
                    </ng-container>
                </tbody>
            </table>
            <button class="btn btn-dark btn-lg" type="button" style="margin-right:5px;" (click)="openAddCtgry(addctgry)">Add Category</button>
            <button class="btn btn-dark btn-lg" type="button" (click)="openAddSubCtgry(addsubctgry)">Add Sub Category</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
    </div>
    <div class="modal-body">
        <span>This category has sub categories. Disabling the category will disable all included sub categories. Do you
            want to proceed?</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('CANCEL')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-dark" (click)="modal.close('OK')">OK</button>
    </div>
</ng-template>

<ng-template #addctgry let-ctgrymodal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Category</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="addCtgryForm" (submit)="ctgrymodal.close('OK')">
          <div class="form-group">
            <label class="col-form-label">Name</label>
            <input type="text" class="form-control" formControlName="categoryName" />
          </div>
        </form>
      </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="ctgrymodal.close('CANCEL')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-dark" (click)="ctgrymodal.close('OK')">OK</button>
    </div>
</ng-template>

<ng-template #addsubctgry let-subctgrymodal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Sub Category</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="addSubCtgryForm" (submit)="subctgrymodal.close('OK')">
            <div class="form-group">
                <label class="col-form-label">Category</label>
                <select class="form-control" formControlName="categoryId">
                    <option *ngFor="let category of categoriesList" [value]="category.categoryId">{{category.categoryName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Sub CategoryName</label>
                <input type="text" class="form-control" formControlName="subCategoryName" />
            </div>
        </form>
      </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="subctgrymodal.close('CANCEL')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-dark" (click)="subctgrymodal.close('OK')">OK</button>
    </div>
</ng-template>
