.pagination {
    margin-bottom: 5px;
    text-align: center;
}

.child {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.page-no {
    width: 2%;
    float: left;
    min-height: 35px;
    min-width: 35px;
    border-radius: 17px;
    margin-right: 5px;
    color: #343a40;
    cursor: pointer;
}

.page-no.selected {
    background-color: #343a40;
    color: #ffffff;
}

.page-no:hover {
    background-color: #343a40;
    color: #ffffff;
}

.page-no>span {
    font-size: 20px;
}

.arrow {
    padding-top: 4px;
    font-size: 18px;
    cursor: pointer;
    float: left;
}

.prev-arrow {
    margin-right: 15px;
}

.next-arrow {
    margin-left: 10px;
}

.page-text {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.page-text>span {
    display: inline-block;
}