<div class="pagination">
    <div class="child">
        <div class="arrow prev-arrow" (click)="emitPageChange(1)" placement="top" ngbTooltip="First page">
            <fa-icon [icon]="firstPageIcon"></fa-icon>
        </div>
        <div class="arrow prev-arrow" (click)="emitPageChange(pageNumber-1)" placement="top" ngbTooltip="Previous page">
            <fa-icon [icon]="prevArrowIcon"></fa-icon>
        </div>
        <ng-container *ngFor="let page of pages">
            <div class="page-no" [ngClass]="{'selected': page === pageNumber}" (click)="emitPageChange(page)">
                <span>{{page}}</span>
            </div>
        </ng-container>
        <div class="arrow next-arrow" (click)="emitPageChange(pageNumber+1)" placement="top" ngbTooltip="Next page">
            <fa-icon [icon]="nextArrowIcon"></fa-icon>
        </div>
        <div class="arrow next-arrow" (click)="emitPageChange(totalPages)" placement="top" ngbTooltip="Last page">
            <fa-icon [icon]="lastPageIcon"></fa-icon>
        </div>
    </div>
</div>
<div class="page-text" *ngIf="showItemCount">
    <span>Showing {{startNumber}} - {{endNumber}} of {{totalElements}}</span>
</div>