<div style="box-shadow: 0px 1px 9px 0px #a7a5a5;padding: 2px;">
    <div class="header-container">
        <div style="z-index: 1000;background-color: #ffffff;cursor: pointer;">
            <i class="fas fa-sliders-h slider" #origin (click)="showPopper = !showPopper"></i>
        </div>
    </div>
</div>
<div>
    <app-popper [origin]="origin" [template]="template" [showPopper]="showPopper"></app-popper>
</div>

<ng-template #template>
    <div class="card">
        <div class="card-body">
            <div class="row criteria-row">
                <div class="col-6 criteria-section">
                    <h4>Artist</h4>
                    <div class="list-item" *ngFor="let artist of artistList">
                        <i class="fa fa-check-square" aria-hidden="true" *ngIf="artist.selected" (click)="artist.selected = !artist.selected"></i>
                        <i class="fa fa-square" aria-hidden="true" *ngIf="!artist.selected" (click)="artist.selected = !artist.selected"></i>
                        <span>{{ artist.artistName | titlecase }}</span>
                    </div>
                </div>
                <div class="col-6 criteria-section">
                    <h4>Category</h4>
                    <div class="list-item" *ngFor="let subCategory of subCategoryList">
                        <i class="fa fa-check-square" aria-hidden="true" *ngIf="subCategory.selected" (click)="subCategory.selected = !subCategory.selected"></i>
                        <i class="fa fa-square" aria-hidden="true" *ngIf="!subCategory.selected" (click)="subCategory.selected = !subCategory.selected"></i>
                        <span>{{ subCategory.subCategoryName | titlecase }}</span>
                    </div>
                </div>
            </div>
            <div class="row button-row">
                <button class="btn btn-dark" (click)="filterProducts()">Filter</button>
                <button class="btn btn-dark" style="margin-left: 10px;" (click)="clearFilter()">Clear</button>
            </div>
        </div>
    </div>
</ng-template>
<div *ngIf="productRows && productRows.length > 0">
    <div class="row" *ngFor="let rowElements of productRows">
        <div class="col-3" *ngFor="let product of rowElements">
            <product-info [productDetail]="product"></product-info>
        </div>
    </div>
</div>
<hr />
<div *ngIf="productRows && productRows.length > 0">
    <pagination *ngIf="showPagination" [pageNumber]="pageNumber" [elementsPerPage]="elementsPerPage" [totalElements]="totalNumberOfElements" [rotateOnBorder]="false" (pageChange)="pageChange($event)">
    </pagination>
</div>