.row {
    margin-right: 10px;
    margin-top: 30px;
}

hr {
    margin-top: 3rem;
}

.slider {
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    opacity: 0.3;
    line-height: revert;
}

.header-container {
    margin: 10px;
    display: flex;
}

.criteria,
.criteria-button,
.criteria-button:hover,
.criteria-button:focus {
    margin-left: 15px;
    border: 2px solid #909599;
    border-radius: 6px;
    box-shadow: none;
    color: #64676a;
    background-color: #ffffff;
    width: 200px;
}

.criteria-button::after {
    color: #000000;
    content: none;
}

.criteria-button>span {
    float: left;
}

.criteria-button>i {
    float: right;
    padding-top: 2px;
    font-size: 20px;
}

.criteria-div {
    z-index: 900;
}

.dropdown-item:active {
    background-color: #ffffff;
    color: #000000;
}

.card {
    width: 600px;
    /* border: 1px solid #343a40; */
    border: none;
    border-radius: 0px;
    box-shadow: 1px 1px 1px 1px #343a40;
}

.criteria-section {
    height: 350px;
}

.criteria-section>h3 {
    text-align-last: center;
}

.card-body {
    padding: 0px;
}

.criteria-row {
    margin: 5px 0px 0px 0px;
}

.criteria-section {
    overflow: auto;
}

.list-item {
    margin-bottom: 5px;
}

.list-item>span {
    font-size: 15px;
}

i {
    margin-right: 15px;
    vertical-align: baseline;
}


/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
    background: #e4e5e7;
}

::-webkit-scrollbar-thumb {
    background: #343a40;
}

::-webkit-scrollbar-thumb:hover {
    background: #343a40;
}

.button-row {
    margin: 10px;
}