<div class="card">
    <div class="card-header">
        <h2>About Us</h2>
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="about">
                <p>
                    In the wake of the technological revolution as the world advanced onto a digital modus operandi, we saw a need for creating a relevantly sound medium for conducting auctions online. With this objective in mind, AstaGuru emerged as a safe and secure platform
                    offering online auctions for Contemporary &amp; Modern Indian Art.</p>
                <p>
                    The year 2008 was a turning point in the Indian Art field with AstaGuru’s inception. With the ambition to direct much deserved recognition towards the Indian Modern Art as well as Southeast Asian Art community, AstaGuru has enlisted prominent Indian artists
                    alongside their oriental contemporaries from Japan, China, Sri Lanka, Thailand, and so on. But the quest did not halt there, AstaGuru has encompassed vintage collectibles and rare antiques such as Sculptures, Classic Miniatures Paintings,
                    Fine Writing Instruments, Luxury Timepieces, Celebrity Memorabilia, Vintage Cars, Aristocratic Heirloom Jewelry, Exquisite Textiles and many more, under its proud banner.</p>
                <p>
                    The word AstaGuru is a thoughtful conjugation of Asta, of Italian origin, which translates to ‘auction’ and Guru, Sanskrit connotation for ‘master’ that indicates our distinguished finesse at being the leaders of auctioneering art and artefacts in India
                    as well as globally. With the world melting into one harmonious digital cosmos, AstaGuru has strived to successfully bridge the gap between prospective buyers and consignors.</p>
                <p>
                    We facilitate easy access for buyers from around the world, eliminating the geographical and physical barriers. By transcending the limitations of live auctions, AstaGuru imparts effortless transparency to the process of acquiring and selling art and
                    rare collectibles.</p>
                <p>
                    Under the leadership of Mr Vickram Sethi, Founder &amp; Chairman of The Arts Trust, Institute of Contemporary Indian Art Gallery, Mumbai &amp; AstaGuru and Mr Tushar Sethi, CEO, AstaGuru, we have fine-tuned our expertise that set us apart. With their
                    impeccable knowledge and keen eye for all things unique, we have achieved the status of a dynamic and pioneering auction house. Our aim is to give prominence to Indian modern art and subsequently cultivate a promising market for the
                    same.</p>
            </div>
        </div>
    </div>
</div>