.wrap-login{
    width: 900px;
    height: 550px;
    background: #ffffff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
    border: 5px solid #c3a860;
}

.login-form{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 20px 10px 20px;
}

.login-img{
    background-image: url('../../../assets/bg.jpg');
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: inherit;
}

.form-title{
    display: block;
    width: 100%;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.wrap-input{
    width: 100%;
    /* border-bottom: 2px solid #dbdbdb; */
    margin-bottom: 25px;
}

.label-input{
    font-size: 25px;
    color: #484848;
    line-height: 1.2;
    padding-left: 2px;
    font-weight: 800;
}

.text-input{
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    font-size: 25px;
    color: #555555;
    line-height: 1.2;
    padding: 0 2px;
    outline: none;
    border: none;
    border-bottom: 2px solid #dbdbdb;
}

.text-input:focus{
    box-shadow: -2px 2px 7px -5px;
    border-radius: 3px;
    border-collapse: collapse;
}

.text-input.error{
    border-bottom: 2px solid #d17979;
    border-radius: 3px;
    border-collapse: collapse;
}

.submit-button{
    width: 90px;
}

.reset-button{
    width: 90px;
}

span.error{
    color: red;
}