<div class="wrap-login">
    <form class="login-form" [formGroup]="loginForm" (submit)="login()">
        <span class="form-title">Login</span>
        <span class="error" *ngIf="loginFailed">The username or password entered is incorrect</span>
        <div class="wrap-input">
            <span class="label-input">Username</span>
            <input class="text-input" type="text" maxlength="20" formControlName="username" />
        </div>

        <div class="wrap-input">
            <span class="label-input">Password</span>
            <input class="text-input" type="password" maxlength="20" formControlName="password"/>
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-secondary submit-button" [disabled]="loginForm.invalid">Login</button>
            <button type="button" class="btn btn-secondary submit-button" style="margin-left: 5px;" (click)="closePopup()">Cancel</button>
        </div>
        <div class="wrap-input">
            <span>Don't have an account? </span>
            <button class="btn btn-link" (click)="signup()">Signup</button>
        </div>
    </form>
    <div class="login-img">
    </div>
</div>