.card {
    border-bottom: 2px solid #c3a860
}

.artist-desc {
    text-align: justify;
    line-height: 2rem;
}

.profile {
    margin: 0 0 20px 20px;
}

.name {
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-top: 0;
    margin-right: 5px;
    font-weight: 500;
    line-height: 1.2;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.edit-btn {
    float: right;
}