<div *ngIf="artistInfo">
    <div class="card">
        <div class="card-header">
            <div>
                <span class="name">{{artistInfo.artistName}}</span>
                <button class="btn btn-dark edit-btn" (click)="editArtist()" *ngIf="isValidAdmin">Edit</button>
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">
                <img [src]="artistInfo.artistProfileUrl" class="rounded float-right profile" alt="...">
                <div class="artist-desc" [innerHTML]="artistInfo.artistDesc"></div>
            </div>
        </div>
    </div>
    <products-list [showPagination]="false"></products-list>
</div>