<div class="card">
    <div class="card-header">
        <h2>User Management</h2>
    </div>
    <div class="card-body">
        <div class="card-text">
            <table class="table table-hover user-mgmt-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersList; let i=index">
                        <td scope="row">{{ i+1 }}</td>
                        <td>
                            <button class="btn btn-link" (click)="showUserDetails(user,'user-details-modal')">
                        {{user.firstName | titlecase}} {{user.lastName | titlecase}}
                      </button>
                        </td>
                        <td>
                            <ui-switch color="#212529" size="small" [disabled]="isCallInProgress" [(ngModel)]="user.isActive" (change)="toggleCheckbox(user)"></ui-switch>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-modal id="user-details-modal" (modalClose)="selectedUser=null">
    <div class="card" *ngIf="selectedUser != null">
        <div class="card-header">
            <h2>{{selectedUser.firstName | titlecase}} {{selectedUser.lastName | titlecase}}</h2>
        </div>
        <div class="card-body">
            <div class="card-text">
                <table class="table table-hover user-mgmt-table">
                    <tbody>
                        <tr>
                            <td>User Id</td>
                            <td>{{selectedUser.userId}}</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>{{selectedUser.username}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{selectedUser.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{selectedUser.phone}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{ selectedUser.active ? 'Active' : 'Inactive' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-modal>