<div class="card">
    <div class="card-header">
        <h1>Latest Arrivals
            <button class="btn btn-link btn-lg view-all" (click)="routeToProducts()" style="float: right;">View all ></button>
        </h1>
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="row">
                <div class="col-sm-4">
                    <img class="latest-img" src="../../../assets/latest1.jpg">
                </div>
                <div class="col-sm-4">
                    <img class="latest-img" src="../../../assets/latest2.jpg">
                </div>
                <div class="col-sm-4">
                    <img class="latest-img" src="../../../assets/latest3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>