.product-container {
    -webkit-box-shadow: 0px 0px 14px 2px rgba(171, 164, 171, 1);
    -moz-box-shadow: 0px 0px 14px 2px rgba(171, 164, 171, 1);
    box-shadow: 0px 0px 14px 2px rgba(171, 164, 171, 1);
    margin-top: 30px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

.image {
    max-width: 80%;
    height: 400px;
    margin-left: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.other-info {
    margin-left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.other-info p {
    margin-bottom: 0px;
}

.other-info .artist-name {
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.other-info .artist-name:hover {
    text-decoration: underline;
}

.product-name {
    cursor: pointer;
}

.product-name:hover {
    text-decoration: underline;
}

.details-link {
    border: 1px solid #c3a860;
    min-width: 10px;
    border-radius: 15px;
    padding: 0px 20px 3px 20px;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    cursor: pointer;
}

.details-link.timer {
    background-color: #c01717;
    color: #ffffff;
    font-weight: 600;
}

.details-link:not(.timer):hover {
    color: #c3a860;
    box-shadow: 0px 0px 5px 1px #c3a860;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
    cursor: grab;
}

.flip-card-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    padding-left: 35px;
    margin-top: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: rotateY(180deg);
}