<div class="product-container">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front flip-css">
                <img [src]="productDetail.imageUrl" class="d-block w-100 image" alt="...">
            </div>
            <div class="flip-card-back flip-css">
                <h3>Additional Information</h3>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Category</td>
                            <td>{{productDetail.category.subCategoryName}}</td>
                        </tr>
                        <tr *ngFor="let info of getAdditionalInfo(productDetail.additionalInfo)">
                            <td>{{info.key}}</td>
                            <td>{{info.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="other-info">
        <p class="artist-name" *ngIf="productDetail.artist" (click)="redirectToArtistPage()">{{productDetail.artist.artistName | uppercase}}</p>
        <p>
            <span class="badge badge-secondary"> Title </span> &nbsp;&nbsp;
            <span class="product-name" style="letter-spacing: 3px;" (click)="redirectToProductDetails()">{{productDetail.productName | titlecase}}</span>
        </p>
        <p>
            <span>{{productDetail.estimatedMin | currency:'INR'}}</span>
            <span> - </span>
            <span>{{productDetail.estimatedMax | currency:'INR'}}</span>
        </p>
    </div>
    <div class="details-link" *ngIf="!productDetail.timeRemaining">
        {{productDetail.auctionDate | date:'MMM d y, H:mm':'IST' }}
    </div>
    <div class="details-link timer" *ngIf="productDetail.timeRemaining && productDetail.timeRemaining > 0">
        {{timeRemaining | timer }}
    </div>
    <div class="details-link timer" (click)="enterAuction()" *ngIf="productDetail.timeRemaining && productDetail.timeRemaining <= 0">
        Enter Auction
    </div>
</div>