.menu-container{
    font-size: 25px;
}

.navbar{
    padding-bottom: 2px;
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.dropdown-menu > li > a:after {
    float: right;
    margin-top: 10px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.dropdown-item,.nav-link{
    cursor: pointer;
}

.buy-dropdown::after{
    display: none;
}

.nav-item{
    padding-left: 5px;
    padding-right: 5px;
    transition: 1s;
    border-bottom: 5px solid #343a40;
}
.nav-item:not(.dropdown):hover{
    border-bottom: 5px solid #c3a860;
}

.user-icon{
    color: #ffffff;
    font-size: 30px;
    padding-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.user-menu:hover > ul.dropdown-menu {
    display: block;
}

.user-menu .dropdown-menu{
    left: auto;
    right: 0;
    top: 80%;
}


