<div class="menu-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img class="navbar-brand" src="../../../assets/nav.jpg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLink="/home" routerLinkActive="active">
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle buy-dropdown" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="categoriesList && categoriesList.length > 0"> Buy </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li *ngFor="let category of categoriesList" [class.dropdown-submenu]="category.subCategory && category.subCategory.length > 0">
                            <a class="dropdown-item" [class.dropdown-toggle]="category.subCategory && category.subCategory.length > 0"> {{ category.categoryName | titlecase }}</a>
                            <ul class="dropdown-menu" *ngIf="category.subCategory && category.subCategory.length > 0">
                                <li *ngFor="let sub of category.subCategory">
                                    <a class="dropdown-item" (click)="routeToProductsPage(sub.subCategoryId)">{{ sub.subCategoryName | titlecase }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf="isValidUser && !isAdminUser">
                    <a class="nav-link" href="#">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/faq">FAQ</a>
                </li>
            </ul>
            <fa-icon class="user-icon" *ngIf="!isValidUser" [icon]="usericon" (click)="openModal('custom-modal');"></fa-icon>
            <div class="user-menu" *ngIf="isValidUser">
                <fa-icon class="user-icon nav-link dropdown-toggle buy-dropdown" [icon]="usericon"></fa-icon>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/admin/banner" *ngIf="isAdminUser">Banner Management</a>
                    <a class="dropdown-item" routerLink="/admin/users" *ngIf="isAdminUser">User Management</a>
                    <a class="dropdown-item" routerLink="/admin/categories" *ngIf="isAdminUser">Category Management</a>
                    <a class="dropdown-item" routerLink="/admin/artist" *ngIf="isAdminUser">Artist Management</a>
                    <a class="dropdown-item" routerLink="/admin/products" *ngIf="isAdminUser">Product Management</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </ul>
            </div>
        </div>
    </nav>
</div>

<app-modal id="custom-modal" [closeOnBgClick]="false" (modalClose)="showSignupBox=false">
    <signup *ngIf="showSignupBox" (close)="closeModal('custom-modal')"></signup>
    <login (redirectToSignup)="showSignupBox=true" (close)="closeModal('custom-modal')" *ngIf="!showSignupBox"></login>
</app-modal>