<div class="wrap-login">
    <form class="signup-form" [formGroup]="signupForm" (submit)="submitForm()">
        <span class="form-title">Sign Up</span>
        <div class="wrap-input">
            <span class="label-input">Username</span>
            <input class="text-input" [class.error]="signupForm.controls['username'].touched && signupForm.controls['username'].errors" type="text" maxlength="20" formControlName="username" />
            <div *ngIf="signupForm.controls['username'].touched && signupForm.controls['username'].errors">
                <span class="error" *ngIf="signupForm.controls['username'].errors.required">Username is mandatory</span>
                <span class="error" *ngIf="signupForm.controls['username'].errors.minlength">
                    Username must be minimum {{signupForm.controls['username'].errors.minlength.requiredLength}} characters
                </span>
                <span class="error" *ngIf="signupForm.controls['username'].errors.usernameExists">This username is already taken</span>
            </div>
        </div>

        <div class="wrap-input">
            <span class="label-input">Password</span>
            <input class="text-input" type="password" maxlength="20" formControlName="password" />
            <div *ngIf="signupForm.controls['password'].touched && signupForm.controls['password'].errors">
                <span class="error" *ngIf="signupForm.controls['password'].errors.required">Password is mandatory</span>
                <span class="error" *ngIf="signupForm.controls['password'].errors.minlength">
                    Password must be minimum {{signupForm.controls['password'].errors.minlength.requiredLength}} characters
                </span>
            </div>
        </div>

        <div class="wrap-input">
            <span class="label-input">Confirm Password</span>
            <input class="text-input" type="password" maxlength="20" formControlName="confirmPassword" />
            <div *ngIf="signupForm.controls['confirmPassword'].touched && signupForm.errors">
                <span class="error" *ngIf="signupForm.errors.passwordMismatch">
                    Password and Confirm Password fields does not match 
                </span>
            </div>
        </div>

        <div class="wrap-input">
            <span class="label-input">First Name</span>
            <input class="text-input" type="text"  maxlength="20" formControlName="firstName" />
            <div *ngIf="signupForm.controls['firstName'].touched && signupForm.controls['firstName'].errors">
                <span class="error" *ngIf="signupForm.controls['firstName'].errors.required">First Name is mandatory</span>
            </div>
        </div>

        <div class="wrap-input">
            <span class="label-input">Last Name</span>
            <input class="text-input" type="text"  maxlength="20" formControlName="lastName" />
            <div *ngIf="signupForm.controls['lastName'].touched && signupForm.controls['lastName'].errors">
                <span class="error" *ngIf="signupForm.controls['lastName'].errors.required">Last Name is mandatory</span>
            </div>
        </div>

        <div class="wrap-input">
            <span class="label-input">Email</span>
            <input class="text-input" type="text"  maxlength="30" formControlName="email" />
            <div *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].errors">
                <span class="error" *ngIf="signupForm.controls['email'].errors.required">Email is mandatory</span>
                <span class="error" *ngIf="signupForm.controls['email'].errors.pattern">Please enter a valid email</span>
                <span class="error" *ngIf="signupForm.controls['email'].errors.emailExists">This email is already registered</span>
            </div>
        </div>

        <div class="wrap-input">
            <span class="label-input">Phone</span>
            <input class="text-input" type="text"  maxlength="20" formControlName="phone" />
            <div *ngIf="signupForm.controls['phone'].touched && signupForm.controls['phone'].errors">
                <span class="error" *ngIf="signupForm.controls['phone'].errors.required">Phone number is mandatory</span>
                <span class="error" *ngIf="signupForm.controls['phone'].errors.phoneExists">This number is already registered</span>
            </div>
        </div>

        <div class="btn-container">
            <button type="submit" class="btn btn-secondary submit-button" [disabled]="signupForm.invalid">Signup</button>
            <button type="button" class="btn btn-secondary submit-button" style="margin-left: 5px;" (click)="closePopup()">Cancel</button>
        </div>
    </form>
    <div class="login-img">
    </div>
</div>